<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
</head>
<body>
<main>
    <section>
        <div><span>일반배송</span></div>
        <div><span>오늘도착</span></div>
        <div><span>예약구매</span></div>
        <div><span>커스텀오더</span></div>
    </section>
    <section>
        <div>
            <input type="checkbox">
            <span>전체선택</span>
        </div>
        <div>
            <a href="#">품절삭제</a>
            <a href="#">선택삭제</a>
        </div>
    </section>
    <section>

    </section>
</main>
</body>
</html>