<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>KOREA SHOP | FAQ</title>
    <link rel="stylesheet" href="../../static/css/customer_service/layout/header.css" th:href="@{/css/customer_service/layout/header.css}">
    <link rel="stylesheet" href="../../static/css/customer_service/faq.css" th:href="@{/css/customer_service/faq.css}">
    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
    <script src="../../static/js/customer_service/faq.js" defer th:src="@{/js/customer_service/faq.js}"></script>
</head>
<body>
    <main layout:fragment="main">
        <header th:replace="~{customer_service/layout/header :: header}"></header>
        <section id="faq-board-section">
            <ul>
                <li>
                    <div class="board-item">
                        <span class="no">01</span>
                        <span class="title">이거슨 제목일시오다</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </div>
                    <p class="board-detail">
                        매장 교환은 어려우며, 온라인몰을 통한 교환/반품 신청이 필요합니다.

                        [마이페이지 > 주문/배송조회 > 교환/반품 신청]을 통해 아래 방법으로 처리해주세요.
                        교환 : 회수 택배 기사님을 통해 물류센터로 교환
                        반품 : 회수 택배 기사님을 통해 물류센터로 반품 / 오프라인 매장에 방문하여 직접 반품

                        단, 매장 반품의 경우 일부 매장에 한해 가능하므로 반품접수 페이지에서
                        '가능매장찾기'를 이용하시어 확인 후 반품접수 부탁드립니다.
                    </p>
                </li>

                <li>
                    <div class="board-item">
                        <span class="no">01</span>
                        <span class="title">이거슨 제목일시오다</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </div>
                    <p class="board-detail">
                        매장 교환은 어려우며, 온라인몰을 통한 교환/반품 신청이 필요합니다.

                        [마이페이지 > 주문/배송조회 > 교환/반품 신청]을 통해 아래 방법으로 처리해주세요.
                        교환 : 회수 택배 기사님을 통해 물류센터로 교환
                        반품 : 회수 택배 기사님을 통해 물류센터로 반품 / 오프라인 매장에 방문하여 직접 반품

                        단, 매장 반품의 경우 일부 매장에 한해 가능하므로 반품접수 페이지에서
                        '가능매장찾기'를 이용하시어 확인 후 반품접수 부탁드립니다.
                    </p>
                </li>
                <li>
                    <div class="board-item">
                        <span class="no">01</span>
                        <span class="title">이거슨 제목일시오다</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </div>
                    <p class="board-detail">
                        매장 교환은 어려우며, 온라인몰을 통한 교환/반품 신청이 필요합니다.

                        [마이페이지 > 주문/배송조회 > 교환/반품 신청]을 통해 아래 방법으로 처리해주세요.
                        교환 : 회수 택배 기사님을 통해 물류센터로 교환
                        반품 : 회수 택배 기사님을 통해 물류센터로 반품 / 오프라인 매장에 방문하여 직접 반품

                        단, 매장 반품의 경우 일부 매장에 한해 가능하므로 반품접수 페이지에서
                        '가능매장찾기'를 이용하시어 확인 후 반품접수 부탁드립니다.
                    </p>
                </li>
            </ul>


        </section>
    </main>
</body>
</html>


















